GROQ_API_KEY=your_groq_api_key_here
GROQ_API_SECRATE=your_groq_api_secret_here
OPENWEATHERMAP_API_KEY=your_openweathermap_api_key_here
SERPAPI_API_KEY=your_serpapi_api_key_here
OPPENROUTER_API_KEY=your_openrouter_api_key_here

# Database Configuration (Defaults to Docker Compose setup)
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/ai_egent"

# JWT Authentication
SECRET_KEY=your_super_secret_key_here
ALGORITHM=HS256
